
<form action="/payment/results">
  <label for="aprnum">APR</label>
  <input id="aprnum" type="text" placeholder="E.g. 5.42" name="apr">

  <label for="yearnum">Number of years</label>
  <input id="yearnum" type="text" placeholder="How many years to repay?" name="years">

  <label for="pcplnum">Principal</label>
  <input id="pcplnum" type="text" placeholder="How much principal?" name="pcpl">

  <button>Calculate monthly payment</button>
</form>